@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.section {
    width: 100%;
    display: inline-block;
    text-align: center;
}

/* Menubar */

.menubar {
    min-width: 1140px;
    display: inline-block;
    height: 60px;
    padding-top: 20px;
}

.logo {
    width: 30%;
    height: 100%;
    float: left;
}

.menu {
    width: 70%;
    height: 100%;
    float: left;
    text-align: right;
}

.menu>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>ul>li {
    float: right;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 15px;
}

.menu>ul>li>a {
    color: rgb(41, 26, 65);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.1s ease-in-out;
}

.menu>ul>li>a:hover {
    border-color: #2fbcb2;
}

#active {
    border-color: #2fbcb2;
}

#install {
    color: #fff;
    background-color: #2fbcb2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    transition: 0.15s ease-in-out;
}

#install:hover {
    background-color: #33ccc2;
}

/* Header Section */

.cta {
    padding-top: 25px;
    padding-bottom: 250px;
}

.cta>h1 {
    color: #291a41;
    font-size: 40px;
    font-weight: 500;
}

.cta>p {
    color: #53546a;
    font-size: 20px;
    max-width: 600px;
    display: inline-block;
}

.cta>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 28px;
}

.cta>ul>li {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

.cta>ul>li>a {
    text-decoration: none;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.15s ease-in-out;
}

.cta>ul>li:nth-child(1)>a {
    background-color: #2fbcb2;
    color: #fff;
}

.cta>ul>li:nth-child(1)>a:hover {
    background-color: #33ccc2;
}

.cta>ul>li:nth-child(2)>a {
    background-color: rgb(251, 251, 251);
    color: rgb(72, 73, 95);
    border: 1px solid rgb(217, 219, 222);
}

.cta>ul>li:nth-child(2)>a:hover {
    background-color: rgb(237, 236, 236);
}

.logo>img {
    width: 200px;
    margin-top: -5px;
}

/* Home page */

.support {
    background-color: rgb(247, 249, 251);
    padding-top: 35px;
    padding-bottom: 35px;
}

.support>h4 {
    font-weight: 300;
    font-size: 18px;
    color: #53546a;
}

.support>div>img {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 80px;
}

.problems {
    background-color: rgb(22, 19, 27);
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
}

.problemContainer {
    max-width: 1140px;
    display: inline-block;
}

.problemContainer>div {
    display: inline-block;
    margin: 15px;
    max-width: 340px;
    margin-top: 15px;
}

.problemContainer>div>img {
    width: 60px;
}

.problemContainer>div>h3 {
    font-size: 20px;
    font-weight: 600;
}

.problemContainer>div>p {
    font-size: 16px;
    line-height: 25px;
}

.problemContainer>p {
    color: #e41e1b;
    background-color: #ef7876;
    width: 100px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    margin-bottom: 3px;
}

.problemContainer>h2 {
    font-size: 30px;
}

.solution {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(247, 249, 251);
}

.solution>p {
    color: #53546a;
    font-size: 20px;
    max-width: 600px;
    display: inline-block;
    margin-bottom: 25px;
}

.solution>p:first-child {
    color: #1d8881;
    background-color: #33ccc2;
    width: 100px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 16px;
}

.benefitCards {
    max-width: 1000px;
    display: inline-block;
    columns: 3;
}

@media screen and (max-width: 940px) {
    .benefitCards {
        columns: 2;
    }
}

@media screen and (max-width: 660px) {
    .benefitCards {
        columns: 1;
    }
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.card>div:nth-child(1) {
    width: 35px;
    height: 35px;
    float: left;
}

.card>div:nth-child(1)>img {
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

.card>div:nth-child(2) {
    width: 255px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.card>div:nth-child(2)>p {
    margin-top: 5px;
}

.solution>h5 {
    color: #53546a;
}

.community {
    padding-top: 50px;
    padding-bottom: 50px;
}
.community>p {
    color: #53546a;
    font-size: 20px;
    max-width: 600px;
    display: inline-block;
    margin-bottom: 25px;
    margin-bottom: 5px;
}
.community>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.community>ul>li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.community>ul>li>a {
    text-decoration: none;
    color: #2fbcb2;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: 0.15s ease-in-out;
}
.community>ul>li>a:hover {
    border-bottom-color: #2fbcb2;
}
.blogContainer {
    width: 1000px;
    display: inline-block;
}
.blog {
    padding-top: 20px;
}
.blogItem > div {
    width: 270px;
    height: 370px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.1s ease-in-out;
}

.blogItem > div:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.blogItem > div > h3 {
    margin-top: 200px;
}
.blogItem > div > p {
    font-weight: 500;
    color: #2fbcb2;
}
.blogItem > div > img {
    width: 40px;
    border-radius: 25px;
}
.blogItem > div > h3 {
    color: #fff;
}

.blogItem > div > h4 {
    color: #1e2022;
    font-size: 16px;
    font-weight: 400;
}
#imageOne {
    background-image: url("../images/blog/decentral.jpg");
}

/* TODO: Refactor alignment */
#imageTwo {
    background-image: url("../images/blog/gift.png");
}

#imageTwo > h3 {
    margin-top: 230px;
}